i.toolbox-icon {
    display: block;
    width: 25px;
    height: 25px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 20px;
    color: var(--toolbox-color);
}

.toolbox-icon:active {
    padding: 3px 3px 3px 3px;
    font-size: 18px;
}
